@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Библиотека Супергероев</h2>
<p>Приложение создано в ходе выполнения тестового задания для BTC Solutions.</p>
