@{
    ViewBag.Title = "Контактная информация";
}

<h3>@ViewBag.Message</h3>

<address>
    Черёмухин Игорь
</address>

<address>
    <strong>email:</strong>   <a href="mailto:igor-cheremukhin@outlook.com">igor-cheremukhin@outlook.com</a><br />
</address>